* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

.logo {
  opacity: 0.5;
  width: 400px;
  transition: opacity .5s ease-out;
}

.logo:hover {
  opacity: 1;
}

.controller-information {
  width: 100%;
  height: 400px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  background-color: #221631;
}

.controller-features {
  flex: 0 1 55%;
  padding: 40px;
}

.feature-list {
  font-size: 18px;
}

.witb-container {
  position: relative;
  flex: 0 1 45%;
  background-color: #1c1525;
}

.witb-container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #1c1525;
  transform-origin: top right;
  transform: skew(-20deg);
}

.whats-in-the-box {
  padding: 40px;
}

.witb-title {
  transform: skew(0deg);
}

.witb-list {
  transform: skew(0deg);
  font-size: 18px;
}